<div class="legend">
    <ul >
        <h4>Year-to-date uptime as of {{ as_of }}:</h4>
        <li style="padding-left: 1em;">
            Backstop's year-to-date uptime is {{ fundbutter_all }}%, {{ fundbutter_us }}% during US business hours.
        </li>
        <li style="padding-left: 1em;">
            InvestorBridge's year-to-date uptime is {{ investorbridge_all }}%, {{ investorbridge_us }}% during US business hours.
        </li>
    <br/>
    <li style="padding-left: 1em;">
    Backstop currently runs several sharded clusters. As a result, if a single cluster becomes unavailable, customers on other shards are unaffected. The figures above reflect "worst case" system availability for a hypothetical, extremely unlucky, customer who was involved in every outage that's occurred. We do not currently track per-cluster availability.
    </li>
    <br/>

    <li style="padding-left: 1em;">
    As we grow, we schedule significant maintenance for weekends, typically Saturdays US time. As a result, system availability is higher during weekday business hours.
    </li>
    </ul>

</div>
